# Node.js
node_modules/
package-lock.json

# Configuración del entorno
.env

# Logs y archivos temporales
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de bases de datos locales
*.sqlite
*.sqlite3

# Directorios de caché
.cache/
dist/
build/
